<app-navigation-bar [estado]="true"></app-navigation-bar>
<div>
<h4>Localidad</h4>
<mat-form-field>
  <mat-select placeholder="Localidad"  name=[localidadUser] [(ngModel)] = "localidadUser" >
    <mat-option *ngFor="let localidad of localidades" [value]="localidad">{{localidad}}</mat-option>
  </mat-select>
</mat-form-field>
<h4>Intereses</h4>
<mat-form-field>
  <mat-select placeholder="Interes" multiple name=[interesesUser] [(ngModel)] = "interesesUser" >
    <mat-option *ngFor="let interes of intereses" [value]="interes">{{interes}}</mat-option>
  </mat-select>
</mat-form-field>
<h4>Edad entre</h4>
<mat-form-field>
  <input matInput type="number" placeholder="21" name=[edadInicio] [(ngModel)] = "edadInicio">
</mat-form-field>
<span>y</span>
<mat-form-field>
  <input matInput type="number" placeholder="45" name=[edadFin] [(ngModel)] = "edadFin">
</mat-form-field>
<br>
<button mat-button (click)="filtrar()">Filtrar</button>
<button mat-button (click)="eliminarFiltro()" [routerLink]="['/home']" >Quitar filtro</button>
</div>