<app-navigation-bar [estado]="true" ></app-navigation-bar>
<div>
  <h1>{{persona.nombre}}</h1> 
    <button mat-fab class="buttonFav" color="primary" (click)="votar()">
        <mat-icon>favorite</mat-icon>  
        <p>{{persona.numVotos}}</p>    
    </button>
    
  <h2>{{persona.edad}} años, {{persona.ciudad}}</h2>
  <img src={{persona.foto}}/>
  <div>
    <h1>Información básica</h1>
    <p>Telef: {{persona.telefono}}</p>
    <p>Email: {{persona.email}}</p>
    <p>Hijos: {{persona.hijos}}</p>
  </div>
  <div>
    <h1>Mis intereses</h1>
    <button mat-fab [routerLink] = "['/crear-interes',persona.codigo]" >
      <mat-icon>add</mat-icon>
    </button>
    <mat-grid-list cols="1" rowHeight="2:1">  
      <mat-grid-tile *ngFor="let interes of persona.intereses" >
          <mat-card>        
            <app-interes-lista [interes]="interes" >
            </app-interes-lista>       
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>
