<app-navigation-bar [estado]="true"></app-navigation-bar>
<div>
  <div>
    <h1>{{persona.nombre}}</h1>

    <mat-icon>favorite</mat-icon>
    <p>{{persona.numVotos}}</p>

    <h2>{{persona.edad}} años, {{persona.ciudad}}</h2>
    <img src={{persona.foto}} />
  </div>
  <div>
    <h1>Información básica</h1>
    <p>Telef: {{persona.telefono}}</p>
    <p>Email: {{persona.email}}</p>
    <p>Hijos: {{persona.hijos}}</p>
    <p>Dirección: {{persona.direccion}}</p>
  </div>
  <div>
    <h1>Mis intereses</h1>
    <button mat-fab [routerLink]="['/crear-interes',persona.codigo]">
      <mat-icon>add</mat-icon>
    </button>
    <mat-list style="display:block;width: 38%;margin:auto">
      <div *ngFor="let interes of persona.intereses">
        <app-interes-lista [interes]="interes" [persona]="persona">
        </app-interes-lista>
      </div>
    </mat-list>

  </div>
  <div>
    <button mat-fab color="primary" (click)="votar()">
      <mat-icon>favorite</mat-icon>
      <p>{{persona.numVotos}}</p>
    </button>
    <button mat-fab color="primary" [routerLink] = "['/mandar-email', persona.codigo]">
      <mat-icon>email</mat-icon>
    </button>
  </div>
</div>
